.footer
  .footer__footer
    %table
      %tr
        %th 旅を探そう
        %th トリッピースについて
        %th コンテンツ
        %th その他
      %tr
        %td TOP
        %td よくある質問
        %td 運営会社
        %td トリッピースブログ
      %tr
        %td エリア一覧
        %td お問い合わせ
        %td 企業情報
        %td CEOブログ
      %tr
        %td アクティビティ一覧
        %td 利用規約
        %td ニュースリリース
        %td 公式Twitter
      %tr
        %td 旅仲間募集中
        %td プライバシーポリシー
        %td 採用情報
        %td スマホ表示モード
