.header
  .header__var
    .header__var__logo
    .header__var__travel-search 企画の検索
    .header__var__nav
      .header__var__nav__mylist リスト
      .header__var__nav__message メッセージ
      .header__var__nav__notification 通知
      .header__var__nav__user= link_to "ユーザー", edit_user_registration_path
    .header__var__create-project= link_to "企画作成", new_project_path
