- if user_signed_in?
  .header
    .header__var
      .header__var__logo
      .header__var__travel-search 企画の検索
      .header__var__nav
        .header__var__nav__mylist リスト
        .header__var__nav__message メッセージ
        .header__var__nav__notification 通知
        .header__var__nav__user= link_to "ユーザー", edit_user_registration_path
      .header__var__create-project 企画作成

  .contents
    .contents__pickup
      .contents__pickup__slide
        .contents__pickup__slide__text 海外旅行特集
      .contents__pickup__sub
        %ul
          %li ハワイ
          %li ドイツ
          %li オーストラリア
          %li インド
    .contents__main
      .contents__main__tab
        .contents__main__tab__all 総合
        .contents__main__tab__date 日程
      .contents__main__sort
        .contents__main__sort__recommend オススメ順
        .contents__main__sort__project-status 受付状態別
      .contents__main__projects
        .contents__main__projects__trip
          .contents__main__projects__trip__top
            .contents__main__projects__trip__top__image
              .contents__main__projects__trip__top__status 申込受付前
          .contents__main__projects__trip__bottom
            .contents__main__projects__trip__bottom__user-image
            .contents__main__projects__trip__bottom__project-name みんなで旅行に行こう、アメリカへ。持ち物は手ぶらです。
            .contents__main__projects__trip__bottom__project-date 12月１日〜２５日まで
            .contents__main__projects__trip__bottom__project-member ５人
            .contents__main__projects__trip__bottom__project-status-color
        .contents__main__projects__trip
          .contents__main__projects__trip__top
            .contents__main__projects__trip__top__image
              .contents__main__projects__trip__top__status 申込受付前
          .contents__main__projects__trip__bottom
            .contents__main__projects__trip__bottom__user-image
            .contents__main__projects__trip__bottom__project-name みんなで旅行に行こう、アメリカへ。持ち物は手ぶらです。
            .contents__main__projects__trip__bottom__project-date 12月１日〜２５日まで
            .contents__main__projects__trip__bottom__project-member ５人
            .contents__main__projects__trip__bottom__project-status-color
        .contents__main__projects__trip
          .contents__main__projects__trip__top
            .contents__main__projects__trip__top__image
              .contents__main__projects__trip__top__status 申込受付前
          .contents__main__projects__trip__bottom
            .contents__main__projects__trip__bottom__user-image
            .contents__main__projects__trip__bottom__project-name みんなで旅行に行こう、アメリカへ。持ち物は手ぶらです。
            .contents__main__projects__trip__bottom__project-date 12月１日〜２５日まで
            .contents__main__projects__trip__bottom__project-member ５人
            .contents__main__projects__trip__bottom__project-status-color

  .footer ふったー
- else
  = render partial: "contents-not-sign-in"

