.content
  .content__main-content
    .content__main-content__logo
    .content__main-content__title
      みんなで遊べば、<br />地球は楽しい。
    .content__main-content__sub-title どこにもない旅を、みんなでつくる。<br />trippiece <トリッピース>
    .content__main-content__login
      .content__main-content__login--facebook Facebookで新規登録/ログイン
      .content__main-content__login--email メールアドレスで新規登録
      .content__main-content__login--google google+ で新規登録/ログイン
  .content__topics-content 説明と、おすすめとか
.footer その他のこと
