.contents {
  &__new {
    background-color: $main-back-ground;
    padding: $default-side-space;
    height: 1500px;
    padding-top: 60px;

    &__create {
      height: 1300px;
      background-color: $sub-back-ground;
      border: $default-border;
      padding: 80px 70px;

      h1 {
      margin: 30px 0;
      font-size: 40px;
      text-align: center;
      color: $main-font-color;
      }

      &__form__field {
          text-align: center;

        &--left {
          margin-bottom: 20px;

          #project_title {
            height: 50px;
            width: $form-width;
          }

          #project_description {
            height: 100px;
            width: $form-width;
          }

          #project_place {
            height: 40px;
            width: $form-width;
          }

          #project_price {
            height: 40px;
            width: 100px;
          }

          #project_detail {
            height: 350px;
            width: $form-width;
          }
        }
        &--right {
          font-weight: bold;
          color: $main-font-color;
        }
        &--submit {

          #project_status {
            height: 40px;
            color: $button-color;
            font-weight: bold;
          }

          .submit {
            height: 40px;
            color: white;
            background-color: #F7BE81;
            box-shadow:1px 1px #1a6ea0;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
