
.contents {
  &__pickup {

    &__slide {

      .slider img {
        width: 100%;
      }
    }
    &__sub {
      background-color: #CEF6D8;
      height: 80px;
      padding: $default-side-space;
      border-bottom: $default-border;

      ul {
        width: 100%;
        color: blue;
        font-size: 30px;
        font-weight: bold;
        margin-left: 150px;
        li {
          float: left;
          width: 15%;

          img {
            height: 80px;
            width: 100%;
          }
        }
      }
    }
  }
  &__main {
    background-color: $main-back-ground;

    &__tab {
      background-color: $main-back-ground;
      height: 75px;
      border-bottom: $default-border;
      margin: $default-side-space;
      padding-top: 20px;
      &__all {
        color: $main-font-color;
        float: left;
        height: 55px;
        font-size: 30px;
        font-weight: 100;
        padding-right: 20px;
        border-bottom: 2px solid #FA8258;
      }
      &__date {
        color: $sub-font-color;
        float: left;
        font-size: 30px;
        padding-left: 20px;
      }
    }
    &__sort {
      position: relative;
      background-color: $main-back-ground;
      margin: $default-side-space;
      height: 70px;
      padding-top: 10px;
      z-index: 2;
      &__recommend {
        background-color: $sub-back-ground;
        font-weight: bold;
        height: 50px;
        float: right;
        border: $default-border;
        padding: 15px;
        color: $main-font-color;

        #select-1 {
          margin-top: 17px;
          position: relative;
          display: none;
          transition: background-color 800ms;

          li {
            border: $default-border;
            color: $main-font-color;
            background-color: $sub-back-ground;
            height: 50px;
            padding: 15px;
          }

          li:hover {
            background-color: $button-color;
            transition: background-color 600ms;
          }
        }
      }
      &__project-status {
        background-color: $sub-back-ground;
        font-weight: bold;
        height: 50px;
        float: right;
        border: $default-border;
        padding: 15px;
        color: $main-font-color;

        #select-2 {
          margin-top: 17px;
          position: relative;
          display: none;

          li {
            background-color: black;
            transition: background-color 800ms;
            border: $default-border;
            color: $main-font-color;
            background-color: $sub-back-ground;
            height: 50px;
            padding: 15px;
            margin-right: 30px;
          }

          li:hover {
            background-color: $button-color;
            transition: background-color 600ms;
          }
        }
      }
    }
    &__projects {
      z-index: 1;
      background-color: $main-back-ground;
      height: 600px;
      padding: $default-side-space;
      overflow: scroll;
      position: relative;
      &__trip {
        height: 310px;
        width: 330px;
        border: $default-border;
        float: left;
        margin: 10px;

        &__top {
          float: left;
          height: 190px;

          &__image {
            height: 190px;
            float: left;

            .uploaded_image {
              width: 328px;
              height: 190px;
              float: left;
            }
          }
        }

        &__status {
            height: 30px;
            width: 100px;
            color: white;
            background: rgba(45,45,45, 0.5);
            margin: 9px 9px 0 210px;
            position: absolute;
            text-align: center;

        }

        &__bottom {
          clear: both;
          background-color: $sub-back-ground;
          height: calc(310px - 190px);
          border: $default-border;
          &__user-image {
            height: 60%;
            width: 70px;
            float: left;

            i.fa.fa-user {
              color: $sub-font-color;
              font-size: 60px;
              padding-left: 15%;
            }

            .user-image {
              height: 70px;
              width: 70px;
            }

          }

          &__project-name {
            color: $main-font-color;
            height: 35%;
            width: 100%;
          }
          &__project-member {
            height: 20%;
            color: $main-font-color;
          }

          &__project-pv {
            height: 15%;
            color: $sub-font-color;
          }
          &__project-date {
            height: 24%;
            clear: both;
            color: $sub-font-color;
          }
          &__project-status-color {
            height: 6%;
            border-radius: 3px 3px 0 0;

            &--published-color {
              height: 100%;
              background-color: #01DF01;
            }

            &--accepting-color {
              height: 100%;
              background-color: #FE9A2E;
            }
          }
        }
      }
    }
  }
}
