
.contents {
  &__pickup {

    &__slide {
    }
    &__sub {
      padding: 0 40px;
      background-color: #CEF6D8;
      height: 80px;
      padding: $default-side-space;
      border-bottom: $default-border;

      ul {
        color: blue;
        font-size: 30px;
        font-weight: bold;
        margin-left: 150px;
        li {
          float: left;

          img {
            height: 80px;
            width: 150px;
          }
        }
      }
    }
  }
  &__main {
    background-color: $main-back-ground;

    &__tab {
      background-color: $main-back-ground;
      height: 75px;
      border-bottom: $default-border;
      margin: $default-side-space;
      padding-top: 20px;
      &__all {
        color: $main-font-color;
        float: left;
        height: 55px;
        font-size: 30px;
        font-weight: 100;
        padding-right: 20px;
        border-bottom: 2px solid #FA8258;
      }
      &__date {
        color: $sub-font-color;
        float: left;
        font-size: 30px;
        padding-left: 20px;
      }
    }
    &__sort {
      background-color: $main-back-ground;
      margin: $default-side-space;
      height: 70px;
      padding-top: 10px;
      &__recommend {
        background-color: $sub-back-ground;
        font-weight: bold;
        height: 50px;
        float: right;
        border: $default-border;
        padding: 15px;
        color: $main-font-color;

        #select-1 {
          margin-top: 17px;
          position: relative;
          display: none;
          transition: background-color 800ms;

          li {
            border: $default-border;
            color: $main-font-color;
            background-color: $sub-back-ground;
            height: 50px;
            padding: 15px;
          }

          li:hover {
            background-color: $button-color;
            transition: background-color 600ms;
          }
        }
      }
      &__project-status {
        background-color: $sub-back-ground;
        font-weight: bold;
        height: 50px;
        float: right;
        border: $default-border;
        padding: 15px;
        color: $main-font-color;

        #select-2 {
          margin-top: 17px;
          position: relative;
          display: none;

          li {
            background-color: black;
            transition: background-color 800ms;
            border: $default-border;
            color: $main-font-color;
            background-color: $sub-back-ground;
            height: 50px;
            padding: 15px;
            margin-right: 30px;
          }

          li:hover {
            background-color: $button-color;
            transition: background-color 600ms;
          }
        }
      }
    }
    &__projects {
      background-color: $main-back-ground;
      height: 600px;
      padding: $default-side-space;
      overflow: scroll;;
      &__trip {
        height: 300px;
        width: 330px;
        border: $default-border;
        float: left;
        margin: 10px;

        &__top {
          height: 190px;

          &__image {
            height: 190px;

            .uploaded_image {
              width: 330px;
              height: 190px;
            }
          }
          &__status {
            height: 30px;
            width: 100px;
            color: white;
            background: rgba(45,45,45, 0.5);
            float:right;
            margin: 9px 9px 0 0;
            text-align: center;
          }
        }
        &__bottom {
          background-color: $sub-back-ground;
          height: calc(300px - 190px);
          border: $default-border;
          &__user-image {
            height: 70px;
            width: 70px;
            background-color: black;
            float: left;
          }
          &__project-name {
            color: $main-font-color;
          }
          &__project-date {
            float: left;
            color: $sub-font-color;
          }
          &__project-member {
            float: right;
            color: $sub-font-color;

          }
          &__project-status-color {

          }
        }
      }
    }
  }
}
