
.contents {

  &__show {
    background-color: $main-back-ground;
    padding: $default-side-space;
    padding-bottom: 40px;

    &__notice {
      &__arleady_accept {
        background-color: $button-color;
        color: $main-font-color;
        height: 40px;
        font-size: 24px;
        text-align: center;
        border-radius: 2em;
      }
    }

    &__title {
      padding-top: 40px;
      color: $main-font-color;
      font-size: 30px;
      text-align: left;
    }

    &__pv {
      margin-left: 50%;
      font-size: 24px;

      i.fa.fa-eye {
        color: $button-color;
      }
    }

    &__tab {
      background-color: $main-back-ground;
      height: 75px;
      border-bottom: $default-border;
      padding-top: 20px;
      margin-bottom: 50px;

      &--detail {
        color: $main-font-color;
        float: left;
        height: 55px;
        font-size: 27px;
        font-weight: 100;
        padding-right: 20px;
        border-bottom: 2px solid #FA8258;
      }
      &--message {
        color: $sub-font-color;
        float: left;
        font-size: 27px;
        padding-left: 20px;
      }
    }

    &__top {
        width: 600px;
        border: $default-border;
        background-color: $sub-back-ground;
      &__image {

      }
      .trip-image {
        width: 597px;
      }

      &__user {
        height: 100px;
        padding: 8px;
        border-top: $default-border;
        &--icon {
          background-color: $sub-font-color;
          height: 90px;
          width: 90px;
          float: left;

          i.fa.fa-user{
            color: white;
            font-size: 90px;
            padding-left: 15px;
          }

          .user-image {
            height: 90px;
            width: 90px;
          }

        }

        &--name {
          float: left;
          font-size: 40px;
          margin-left: 10px;
          font-weight: bold;
          color: #FE642E;
        }

        &--like {

        }

        &--member {
          color: $sub-font-color;
          float: right;
          font-size: 30px;
        }
      }

      &__description {
        padding: 8px;
        color: $sub-font-color;

      }
    }

    &__bottom {
      height: 700px;
      width: 700px;
      background-color: $sub-back-ground;
      margin-top: 30px;
      border: $default-border;
      &__left {
        @include detail-template();
        &__date {
          color: $sub-font-color;
        }
      }

      &__center {
          @include detail-template();
          border-left: $default-border;
          border-right: $default-border;
        &__price {
          color: $sub-font-color;

        }
      }

      &__right {
        @include detail-template();

        &__place {
          color: $sub-font-color;
        }
      }

      &__detail {
        clear:both;
        margin: 150px 40px;
        padding-top: 30px;
        border-top: $default-border;
      }
    }

    &__right {
      float: right;
      background-color: $sub-back-ground;
      height: 230px;
      width: 300px;
      padding-top: 10px;
      border: $default-border;

      &__status {
        text-align: center;
        &--title {
          margin: 8px auto;
          color: $sub-font-color;

        }

        &--status {
          margin: 8px auto;
          font-size: 34px;
          color: #FF8000;
        }
      }

      &__button {
        @include right-template();
        color: $sub-back-ground;
        background-color: #FE2E64;

        &--published {
          color: $sub-back-ground;
          background-color: $sub-font-color;
        }
      }

      &__like {
        @include right-template();
        background-color: $sub-back-ground;
        color: $sub-font-color;
      }
    }
  }
}
